// events.scss
@import 'reuseable_styling';

.navbar.is-dark {
    background-color: $main-color;
}
.title,
.subtitle {
    color: whitesmoke;
}
figcaption {
    color: rgb(177, 177, 177);
}

@import '../../node_modules/bulma/sass/components/modal.sass';
