@charset "utf-8";

// Import Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// MANABA Brand Color
$main-color: #1A1919;
$sub-color: #f7d549;
$fig-color: #454343;
$facebook-color: #3b5999;
$instagram-color: #e4405f;
$snapchat-color: #ffef15;

// Update some of Bulma's component variables
$family-sans-serif: "Nunito", sans-serif;

// Animations
$use-fadeIn: true;
$use-fadeInUp: true;
$use-fadeInLeft: true;
$use-fadeInUp: true;
$use-fadeInDown: true;

// Global Custom CSS
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.shadow {
    box-shadow: inset 0 -6px 0 rgba(247, 213, 73, 0.5);
}

// Sponsor section CSS
.button-group button {
    background: transparent;
    border-width: 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    box-shadow: none !important;
    padding-right: 30px;
    outline: none;
}
.button-group button span {
    display: block;
    padding-bottom: 5px;
}
.button-group .active span {
    color: $sub-color;
    border-bottom: 3px solid $sub-color;
}
.sponsor-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(14, 14, 17, 0.9);
    cursor: zoom-in;
    opacity: 0;
    transition: all 0.5s ease;
}
.sponsor-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    h3 {
        color: $sub-color;
        text-transform: uppercase;
        font-size: 25px;
        margin: 0;
        padding: 0 0 10px 0;
        transform: translateY(-40%);
        transition: all 0.8s;
    }
    span {
        height: 6px;
        width: 30px;
        display: inline-block;
        border-top: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;
        margin: 11px auto 5px auto;
    }
    p {
        color: whitesmoke;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 0 0 0;
        transform: translateY(40%);
        transition: all 0.8s;
    }
}
.column {
    position: relative;
    overflow: hidden;
    img {
        transition: 0.5s ease;
    }
}
.column:hover {
    img {
        transform: scale(1.1);
    }
    .sponsor-details h3 {
        transform: translateY(0);
    }
    .sponsor-details p {
        transform: translateY(0);
    }
    .sponsor-overlay {
        opacity: 1;
    }
}

// Navbar CSS
.navbar-menu {
    background-color: $main-color;
    a {
        letter-spacing: 0.7px;
    }
}
.navbar-menu a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: $sub-color;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.15s ease-out;
}
.navbar-menu a:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
// Footer background color
footer {
    background-color: $main-color;
    color: #fff;
    font-size: 13px;
    #heart-icon {
        color: $instagram-color;
    }
}

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma-divider/src/sass/index.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";

// Import Hover.css package
@import "../../node_modules/hover.css/scss/hover.scss";
