// sponsors.scss
@import 'reuseable_styling';

// Navbar CSS
.navbar.is-dark {
    color: $main-color;
}
// Membership Card Flip CSS
.membership-card {
    margin-bottom: 7rem;
}
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 300px;
	height: 380px;
}
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
// Sponsor section CSS
.columns.is-gapless:not(:last-child) {
    margin-bottom: 7px;
}
.button-group button {
    background: transparent;
    border-width: 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    padding-right: 30px;
    outline: none;
}
.button-group button span {
    display: block;
    padding-bottom: 5px;
}
.button-group .active span {
    color: $sub-color;
    border-bottom: 3px solid $sub-color;
}
.sponsor-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(14, 14, 17, 0.9);
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.sponsor-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    h3 {
        color: $sub-color;
        text-transform: uppercase;
        font-size: 25px;
        margin: 0;
        padding: 0 0 10px 0;
        -webkit-transform: translateY(-40%);
                transform: translateY(-40%);
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
    }
    span {
        height: 6px;
        width: 30px;
        display: inline-block;
        border-top: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;
        margin: 11px auto 5px auto;
    }
    p {
        color: whitesmoke;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 0 0 0;
        -webkit-transform: translateY(40%);
                transform: translateY(40%);
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
    }
}
.column {
    position: relative;
    overflow: hidden;
    img {
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }
}
.column:hover {
    img {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    .sponsor-details h3 {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    .sponsor-details p {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    .sponsor-overlay {
        opacity: 1;
    }
}
