@import 'reuseable_styling';

// Team CSS
.card-content {
    cursor: text;
}

#back-to-top:hover,
#back-to-top:active {
	color: $main-color;
	background-color: whitesmoke;
}

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/components/card.sass";
