// team.scss
@import 'reuseable_styling';

// Team CSS
.shadow_title {
    box-shadow: inset 0 -6px 0 rgb(247, 213, 73);
}
.card-content {
    cursor: text;
}
#back-to-top:hover,
#back-to-top:active {
	color: $main-color;
	background-color: whitesmoke;
}

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/components/card.sass";
