<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANABA - Main Page</title>
</head>

<body>
    <section id="home" class="hero is-fullheight">
        <%= require('html-loader!../partials/navbar.html') %>

        <div class="hero-body">
            <div class="container is-fluid">
                <h1>
                    sponsor list here
                </h1>
                <div class="button-group filter-button-group m-t-lg m-b-lg">
                    <button class="button active" data-filter="*"><span>Show All</span></button>
                    <button class="button" data-filter=".cafe"><span>Café</span></button>
                    <button class="button" data-filter=".drinks"><span>Drinks</span></button>
                    <button class="button" data-filter=".food"><span>Food</span></button>
                    <button class="button" data-filter=".services"><span>Services</span></button>
                    <button class="button" data-filter=".snacks"><span>Snacks</span></button>
                </div>
                <div class="columns grid is-multiline">
                    <div class="column element-item is-one-third drinks">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>A Beverage Store</h3>
                                <span></span>
                                <p>10% off</p>
                                <p>1863 Staint-Catherine St. W</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third cafe">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Café et Crêpe</h3>
                                <span></span>
                                <p>40% crepes from 3-6PM</p>
                                <p>374 Saint-Catherine W</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third food">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Chef on Call</h3>
                                <span></span>
                                <p>Sponsor</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third drinks">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Chicha</h3>
                                <span></span>
                                <p>10% off a $15 plus order</p>
                                <p>2162 Rue Sainte-Catherine</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third services">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Club LaCité</h3>
                                <span></span>
                                <p>Sponsor</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third cafe">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Copper Branch (Maisonneuve)</h3>
                                <span></span>
                                <p>10% off</p>
                                <p>600 Boulevard de Maisonneuve Ouest</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third food">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Dumpling Shop</h3>
                                <span></span>
                                <p>10% off with cash</p>
                                <p>5674 Monkland Ave</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third snacks">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Gauffre Mignonne</h3>
                                <span></span>
                                <p>10% off</p>
                                <p>55 Saint-Catheirne St E</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third drinks">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Gazo</h3>
                                <span></span>
                                <p>10% off</p>
                                <p>1651 Saint-Catherine St W</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third food">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Hinnawi Bros (Kennedy)</h3>
                                <span></span>
                                <p>20% off</p>
                                <p>645 Avenue du Président-Kennedy</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third food">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Luo's Pho</h3>
                                <span></span>
                                <p>10% off with cash</p>
                                <p>3575 Ave du Parc</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third drinks">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Majesthé</h3>
                                <span></span>
                                <p>10% off regular menu</p>
                                <p>2077 Boulevard Robert-Bourassa</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third services">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Mei Clinic</h3>
                                <span></span>
                                <p>20% off fillings, root canals, wisdom teeth extractions, and 30% off cleaning</p>
                                <p>1442 Sherbrooke West, suite 100</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third cafe">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Presse Café (Maisonneuve)</h3>
                                <span></span>
                                <p>20% off</p>
                                <p>1021 Maisonneuve W</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third cafe">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Presse Cafe (Milton/Parc)</h3>
                                <span></span>
                                <p>5% off $5+ / 10% off $10+</p>
                                <p>3501 Ave du Parc</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third food">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Ramen Misoya</h3>
                                <span></span>
                                <p>10% off two ramens</p>
                                <p>2065 Bishop St</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third food">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Thaiphon</h3>
                                <span></span>
                                <p>10% off with cash</p>
                                <p>2025 Rue Union</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third food">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>The Basak</h3>
                                <span></span>
                                <p>10% off</p>
                                <p>1237 Guy St</p>
                            </div>
                        </div>
                    </div>
                    <div class="column element-item is-one-third food">
                        <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                        <div class="sponsor-overlay">
                            <div class="sponsor-details has-text-centered p-b-md">
                                <h3>Vua</h3>
                                <span></span>
                                <p>10% off two or more items</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <%= require('html-loader!../partials/footer.html') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</body>

</html>
