<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANABA - Main Page</title>
</head>

<body>
    <section id="home" class="hero is-fullheight">
        <%= require('html-loader!../partials/navbar.html') %>

        <div class="hero-body">
            <div class="container is-fluid">
                <h1>
                    sponsor list here
                </h1>
                <div class="button-group filter-button-group m-t-lg m-b-lg">
                    <button class="button active" data-filter="*"><span>Show All</span></button>
                    <button class="button" data-filter=".cafe"><span>Café</span></button>
                    <button class="button" data-filter=".drinks"><span>Drinks</span></button>
                    <button class="button" data-filter=".food"><span>Food</span></button>
                    <button class="button" data-filter=".services"><span>Services</span></button>
                    <button class="button" data-filter=".snacks"><span>Snacks</span></button>
                </div>
                <div class="columns grid is-multiline">
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter drinks">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter food">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter drinks">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter food">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column element-item is-one-quarter cafe">
                        <a href="<%= require('../assets/upcoming-events.png') %>">
                            <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                            <div class="sponsor-overlay">
                                <div class="sponsor-details has-text-centered p-b-md">
                                    <h3>Logo</h3>
                                    <span></span>
                                    <p>Desktop, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <%= require('html-loader!../partials/footer.html') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</body>

</html>
