<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANABA - Main Page</title>
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <figure class="image center">
                    <%= require('html-loader!../assets/manaba-white-tight.svg') %>
                </figure>
            </div>
        </div>
        <span id="arrow-down" class="icon center bounce">
            <i class="fas fa-chevron-circle-down fa-2x"></i>
        </span>
    </section>

    <section class="hero is-light is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-quarter">
                        <h1 class="is-size-3 is-spaced">
                            who the <strong><span class="shadow">heck</span></strong>
                            </br>
                            are we?
                        </h1>
                    </div>
                    <div class="column">
                        <h2 class="subtitle is-5">
                            McGill Association of North American Born Asians, more commonly known as <strong><span
                                    class="shadow">MANABA</span></strong>, is a non-profit, student-run
                            organization based at McGill University in Montreal, Canada. Beyond representing the fusion
                            of Asian and North-American
                            culture, MANABA celebrates people of all ethnicities and backgrounds. Through events,
                            MANABA hopes to bring the young
                            and lively Montreal community together.
                        </h2>
                    </div>
                </div>
                <div class="tile is-ancestor p-t-lg">
                    <div class="tile is-parent">
                        <div class="tile is-child hvr-bob hvr-icon-forward">
                            <figure class="image">
                                <img src="<%= require('../assets/upcoming-events.png') %>" alt="Upcoming Event Photo">
                                <figcaption class="is-size-6 has-text-weight-bold">
                                    <span class="shadow">UPCOMING EVENTS</span> <i class="fas fa-long-arrow-alt-right hvr-icon"></i>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child hvr-bob hvr-icon-forward">
                            <figure class="image">
                                <img src="<%= require('../assets/meet-our-team.png') %>" alt="Meet Our Team Photo">
                                <figcaption class="is-size-6 has-text-weight-bold">
                                    <span class="shadow">MEET OUR 2018/2019 TEAM</span> <i class="fas fa-long-arrow-alt-right hvr-icon"></i>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <div class="is-divider"></div>
                <nav class="level p-t-md p-b-md">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading is-size-5">members</p>
                            <p class="title counter">3,047</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading is-size-5">events</p>
                            <p class="title counter">192</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading is-size-5">sponsors</p>
                            <p class="title counter">74</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading is-size-5">execs</p>
                            <p class="title counter">21</p>
                        </div>
                    </div>
                </nav>
                <div class="is-divider"></div>
            </div>
        </div>
    </section>

    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <figure class="image">
                            <img src="<%= require('../assets/membership-card-front.png') %>" alt="Membership Card Front Photo">
                        </figure>
                    </div>
                    <div class="column">
                        <figure class="image">
                            <img src="<%= require('../assets/membership-card-back.png') %>" alt="Membership Card Back Photo">
                        </figure>
                    </div>
                    <div class="column is-half">
                        <h1 class="is-size-3 is-spaced">the <strong><span class="shadow">perks</span></strong> of our membership card</h1>
                        <p class="subtitle is-5">lorem ipsum dolor sit amet, for only $5 consectetur adipiscing elit. Ut at risus
                            consequat, bibendum augue nec, luctus velit. Donec
                            accumsan nisl turpis, vitae accumsan risus pretium et. Curabitur sagittis elit at nisi
                            feugiat eleifend. Vivamus mi
                            mauris, ultrices viverra nibh in, dignissim posuere metus. Sed felis sapien, gravida eu
                            risus a, pulvinar porta odio.</p>
                        <p class="subtitle is-5">lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at risus
                        consequat, bibendum augue nec, luctus velit. Donec
                        accumsan nisl turpis, vitae accumsan risus pretium et. Curabitur sagittis elit at nisi
                        feugiat eleifend. Vivamus mi
                        mauris, ultrices viverra nibh in, dignissim posuere metus. Sed felis sapien, gravida eu
                        risus a, pulvinar porta odio.
                        Sed risus mi, aliquet a mollis id, egestas ac magna. Duis venenatis leo eget mi suscipit,
                        at vulputate enim cursus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <div class="is-divider"></div>
                <div class="columns p-t-lg p-b-lg">
                    <div class="column has-text-centered">
                        <i id="facebook-icon" class="fab fa-3x fa-facebook-square"></i>
                        <p class="heading">Facebook</p>
                        <p class="m-t-md m-b-md">Fusce in odio et neque sollicitudin sollicitudin non id justo.
                            Donec iaculis erat sem, vel tempus erat lacinia vitae.
                            Cras eget fringilla odio.
                        </p>
                        <div class="tag-container">
                            <div class="tags has-addons">
                                <span class="tag is-dark">Facebook</span>
                                <span class="tag is-link">3,456</span>
                            </div>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <i id="instagram-icon" class="fab fa-3x fa-instagram"></i>
                        <p class="heading">Instagram</p>
                        <p class="m-t-md m-b-md">Etiam urna erat, tincidunt sit amet scelerisque non, blandit id massa.
                            Sed non ligula sit amet sem tincidunt imperdiet at non nunc.
                        </p>
                        <div class="tag-container">
                            <div class="tags has-addons">
                                <span class="tag is-dark">Instagram</span>
                                <span class="tag is-danger">244</span>
                            </div>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <i id="snapchat-icon" class="fab fa-3x fa-snapchat-square"></i>
                        <p class="heading">Snapchat</p>
                        <p class="m-t-md m-b-md">Lut ac nibh eu felis dapibus mollis sed faucibus felis. Vestibulum non semper quam.
                            Sed metus libero, viverra et velit non, dictum semper quam.
                        </p>
                        <div class="tag-container">
                            <div class="tags has-addons">
                                <span class="tag is-dark">Snapchat</span>
                                <span class="tag is-warning">583</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="is-divider"></div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>

</html>
