<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANABA - Main Page</title>
</head>

<body>
    <section id="home" class="hero is-fullheight">
        <%= require('html-loader!../partials/navbar.html') %>

        <div class="hero-body">
            <div class="container">
                <h1>
                    meet our 2018/2019 MANABA family
                </h1>
            </div>
        </div>


    </section>

    <%= require('html-loader!../partials/footer.html') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>

</html>
