<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANABA - Main Page</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130111475-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130111475-1');
    </script>
</head>

<body>
    <section id="home" class="hero is-fullheight">
        <%= require('html-loader!../partials/navbar_other.html') %>

        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered has-text-white p-b-md">
                    OUR <span class="shadow">TEAM</span>
                </h1>
                <p class="subtitle has-text-centered has-text-white p-b-sm">
                    a perfect blend of serious thinking and wholesome friendship.
                </p>
                <div class="columns is-multiline">
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/mariah.jpg') %>" alt="Mariah's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Mariah Chang</p>
                                        <p class="subtitle is-5">@ <span class="shadow">Co-President</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Vancouver, BC </br>
                                    Year and Major: U3 Political Science </br>
                                    Favourite city you’ve ever visited?: Sorrento, Italy and Paris, France </br>
                                    Dream travel destination?: Santorini, Greece </br>
                                    Favourite thing about living in Montreal?: The cafe and brunch culture </br>
                                    Favourite Asian dish?: 乾炒牛河 (stir-fried rice noodles with beef)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/sooji.jpg') %>" alt="Sooji's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Sooji Hah</p>
                                        <p class="subtitle is-5">@ <span class="shadow">Co-President</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Busan, South Korea </br>
                                    Year and Major: U3 Labour Relations </br>
                                    Favourite city you’ve ever visited?: Vienna! & Paris
                                    Dream travel destination?: Portugal </br>
                                    Favourite thing about living in Montreal?: How unique the city is compared to the rest & the people </br>
                                    Favourite Asian dish?: Kimchi Jjigae
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/audrey.jpg') %>" alt="Audrey Woo's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Audrey Woo</p>
                                        <p class="subtitle is-5">@ <span class="shadow">VP Internal</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: LA and White Rock, BC </br>
                                    Year and Major: U3 Geology </br>
                                    Favourite city you’ve ever visited?: Cape Town! Or Tokyo </br>
                                    Dream travel destination?: New Zealand :) </br>
                                    Favourite thing about living in Montreal?: Its cheaper than living in Vancouver lol </br>
                                    Favourite Asian dish?: Sushi
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/lois.jpg') %>" alt="Lois Chen's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Lois Chen</p>
                                        <p class="subtitle is-5">@ <span class="shadow">VP External</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Montreal, QC </br>
                                    Year and Major: U3 Immunology and Microbiology </br>
                                    Favourite city you’ve ever visited?: Haven't traveled much ^^' </br>
                                    Dream travel destination?: Korea, Japan, Thailand </br>
                                    Favourite thing about living in Montreal?: Fall season ❤️
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/ting.jpg') %>" alt="Ting Wang's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Ting Wang</p>
                                        <p class="subtitle is-5">@ <span class="shadow">VP Communications</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Ottawa, ON </br>
                                    Year and Major: U3 Psychology </br>
                                    Favourite city you’ve ever visited?: Shanghai, China </br>
                                    Dream travel destination?: Paris, France </br>
                                    Favourite thing about living in Montreal?: I love living in Montreal because there are so many beautiful places to explore like the Botanical Gardens, Mont-Royal and Old Port. ❤️ </br>
                                    Favourite Asian dish?: Sushi
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/ryan.jpg') %>" alt="Ryan Wong's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Ryan Wong</p>
                                        <p class="subtitle is-5">@ <span class="shadow">VP Media & Videographer</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Vancouver, BC </br>
                                    Year and Major: U3 Materials Engineering </br>
                                    Favourite city you’ve ever visited?: Cannon Beach, Oregon </br>
                                    Dream travel destination?: Iceland - Northern lights, waterfalls, glaciers, Wild Ponies, what more can you ask for? </br>
                                    Favourite thing about living in Montreal?: Too hard to choose one thing. ∴ Night life + food + weather (it's only sun or snow) </br>
                                    Favourite Asian Dish?: Sushi 🍣
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/alice.jpg') %>" alt="Alice Tae Yi Kang's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Alice Tae Yi Kang</p>
                                        <p class="subtitle is-5">@ <span class="shadow">VP Finance</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Vancouver, BC and Seoul, Korea </br>
                                    Year and Major: U2ish Computer Science & Math </br>
                                    Favourite city you’ve ever visited?: Vancouver :P </br>
                                    Dream travel destination?: Everywhere </br>
                                    Favourite thing about living in Montreal?: ❄☃️❄
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/hilary.jpg') %>" alt="Hilary Lee's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Hilary Lee</p>
                                        <p class="subtitle is-5">@ <span class="shadow">VP Finance</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Seoul, Korea & Shanghai, China </br>
                                    Year and Major: U3 Finance & Business Analytics </br>
                                    Favourite city you’ve ever visited?: Barcelona </br>
                                    Dream travel destination?: Peru </br>
                                    Favourite thing about living in Montreal?: McGill, as much pain it has given me, it’s also the best decision I ever made
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/dana.jpg') %>" alt="Dana Malapit's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Dana Malapit</p>
                                        <p class="subtitle is-5">@ <span class="shadow">VP Events</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Toronto, ON </br>
                                    Year and Major: U2 Political Science </br>
                                    Favourite city you’ve ever visited?: San Francisco </br>
                                    Dream travel destination?: Japan 🌸 </br>
                                    Favourite thing about living in Montreal?: pretty views, good food, and even better people </br>
                                    Favourite Asian dish?: Takoyaki
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/everett.jpg') %>" alt="Everett Tsai's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Everett Tsai</p>
                                        <p class="subtitle is-5">@ <span class="shadow">VP Events</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Singapore? </br>
                                    Year and Major: U1 Economics & Psychology </br>
                                    Favourite city you’ve ever visited?: NYC </br>
                                    Dream travel destination?: I've never been to Europe so
                                    Favourite thing about living in Montreal?: cafe campus tuesdays </br>
                                    Favourite Asian dish?: Sushi Pizza
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/pengrui.jpg') %>" alt="Pengrui Cai's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Pengrui Cai</p>
                                        <p class="subtitle is-5">@ <span class="shadow">Events Committee</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: New York </br>
                                    Year and Major: U2 Industrial Relations and Psychology </br>
                                    Favourite city you’ve ever visited?: Kuala Lumpur </br>
                                    Dream travel destination?: Your moms house </br>
                                    Favourite thing about living in Montreal?: Cost of living is so cheap
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/andy.jpg') %>" alt="Andy Jung's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Andy Jung</p>
                                        <p class="subtitle is-5">@ <span class="shadow">Events Committee</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Surrey, BC </br>
                                    Year and Major: U3? idk at this point </br>
                                    Favourite city you’ve ever visited?: Seoul </br>
                                    Dream travel destination?: Laos </br>
                                    Favourite thing about living in Montreal?: All my friends are here 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/jia-wei.jpg') %>" alt="Jia Wei Sun's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Jia Wei Sun</p>
                                        <p class="subtitle is-5">@ <span class="shadow">External Committee</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Qing Dao </br>
                                    Year and Major: U2 Computer Eng </br>
                                    Favourite city you’ve ever visited?: Florence </br>
                                    Dream travel destination?: Mykonos </br>
                                    Favourite thing about living in Montreal?: Only place where poutine is a staple food
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/brenden.jpg') %>" alt="Brenden Kadota's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Brenden Kadota</p>
                                        <p class="subtitle is-5">@ <span class="shadow">External Committee</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Vancouver, BC </br>
                                    Year and Major: U3 Computer Science and Biology </br>
                                    Favourite city you’ve ever visited?: Okinawa </br>
                                    Dream travel destination?: Hong Kong </br>
                                    Favourite thing about living in Montreal?: Montreal smoked meat
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/victoria.jpg') %>" alt="Victoria Kwok's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Victoria Kwok</p>
                                        <p class="subtitle is-5">@ <span class="shadow">External Committee</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Montreal, QC </br>
                                    Year and Major: U2 Economics </br>
                                    Favourite city you’ve ever visited?: Positano </br>
                                    Dream travel destination?: Iceland </br>
                                    Favourite thing about living in Montreal?: 2$ chow mein !!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/daniel.jpg') %>" alt="Daniel Sun's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Daniel Sun</p>
                                        <p class="subtitle is-5">@ <span class="shadow">External Committee</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Ottawa, ON </br>
                                    Year and Major: U3 Finance </br>
                                    Favourite city you’ve ever visited?: Beijing </br>
                                    Dream travel destination?: Anywhere warm </br>
                                    Favourite thing about living in Montreal?: Construction 🙃
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/adela.jpg') %>" alt="Adela Kwok's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Adela Kwok</p>
                                        <p class="subtitle is-5">@ <span class="shadow">Creative Director</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Richmond Hill, ON </br>
                                    Year and Major: U2 International Development </br>
                                    Favourite city you’ve ever visited?: New York City </br>
                                    Dream travel destination?: New Zealand </br>
                                    Favourite thing about living in Montreal?: the art scene!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/megan.jpg') %>" alt="Megan Huang's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Megan Huang</p>
                                        <p class="subtitle is-5">@ <span class="shadow">Photographer</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Richmond Hill, ON </br>
                                    Year and Major: U1 Pharmacology & Therapeutics </br>
                                    Favourite city you’ve ever visited?: Athens, Greece </br>
                                    Dream travel destination?: Patagonia </br>
                                    Favourite thing about living in Montreal?: festivals/nightlife
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/jessica.jpg') %>" alt="Jessica Helena Chan's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Jessica Helena Chan</p>
                                        <p class="subtitle is-5">@ <span class="shadow">Senior Advisor</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Vancouver, BC </br>
                                    Year and Major: U3 Cognitive Science </br>
                                    Favourite city you’ve ever visited?: Kanazawa : guesthouse pongyi, LOOK IT UP, GO THERE, love your life </br>
                                    Dream travel destination?: Sweden </br>
                                    Favourite thing about living in Montreal?: I love the summer! It's so festive and there's so much to do. I love stumbling across random concerts and street sales!! </br>
                                    Favourite Asian dish?: Tomato Nabe
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/leo.jpg') %>" alt="Leo Fortier's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Leo Fortier</p>
                                        <p class="subtitle is-5">@ <span class="shadow">Senior Advisor</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Montreal, QC </br>
                                    Year and Major: U4 Mechanical Engineering </br>
                                    Favourite city you’ve ever visited?: Lisbon </br>
                                    Dream travel destination?: Zanzibar </br>
                                    Favourite thing about living in Montreal?: Never ending construction </br>
                                    Favourite Asian dish?: bao
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/jennifer.jpg') %>" alt="Jennifer Jeong's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Jennifer Jeong</p>
                                        <p class="subtitle is-5">@ <span class="shadow">Senior Advisor</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Richmond Hill, ON </br>
                                    Year and Major: U3 Political Science </br>
                                    Favourite city you’ve ever visited?: San Fran bab-eeeeeeeyyy </br>
                                    Dream travel destination?: Iceland </br>
                                    Favourite thing about living in Montreal?: cheap rent
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/jenny.jpg') %>" alt="Jenny Kim's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Jenny Kim</p>
                                        <p class="subtitle is-5">@ <span class="shadow">First Year Representative</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Singapore </br>
                                    Year and Major: U1 K/Elementary Education </br>
                                    Favourite city you’ve ever visited?: Atlanta </br>
                                    Dream travel destination?: Bahamas </br>
                                    Favourite thing about living in Montreal?: hot tap water
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="<%= require('../assets/team-photos/christian.jpg') %>" alt="Christian Pili's portrait photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Christian Pili</p>
                                        <p class="subtitle is-5">@ <span class="shadow">First Year Representatives</span></p>
                                    </div>
                                </div>
                                <div class="description-content is-6">
                                    Hometown: Hong Kong / Singapore</br>
                                    Year and Major: U0.5 (Should've took more APs lol)</br>
                                    Favourite city you’ve ever visited?: Tokyo uwu</br>
                                    Dream travel destination?: Fiji 🇫🇯</br>
                                    Favourite thing about living in Montreal?: oui oui baguette
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!../partials/footer.html') %>
    </section>

    <a href="#home" id="back-to-top" class="smooth-scroll">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>

</html>
