<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANABA - Main Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/tiny-slider.css">
</head>

<body>
    <section id="home" class="hero is-fullheight">
        <%= require('html-loader!../partials/navbar_other.html') %>

        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title p-b-md">
                    UPCOMING <span class="shadow_title">EVENTS</span>
                </h1>
                <p class="subtitle is-6">
                    MANABA hosts events such as loft parties, apartment crawls, pool parties, food events, and more to bring the Montreal
                    community together.
                </p>
                <div class="my-slider">
                    <div>
                        <figure class="image has-text-centered">
                            <a href="https://www.facebook.com/events/493927527772013/">
                                <img src="<%= require('../assets/event-images/ride-with-the-6ix.png') %>" alt="Ride With The 6IX event photo">
                                <figcaption class="is-size-6 p-t-sm">
                                    Friday, November 23rd, 8 PM - 10:30 PM
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                    <div>
                        <figure class="image has-text-centered">
                            <a href="https://www.facebook.com/events/334066347401469/"">
                                <img src="<%= require('../assets/event-images/blizzard-of-oz.png') %>" alt="Blizzard Of Oz event photo">
                                <figcaption class="is-size-6 p-t-sm">
                                    January 11th ~ 13th, 2019
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%= require('html-loader!../partials/footer.html') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script>
        var slider = tns({
            container: '.my-slider',
            items: 1,
            gutter: 9,
            speed: 500,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayButtonOutput: false,
            mouseDrag: true,
            controls: false,
            nav: false,
            swipeAngle: false
        });
    </script>
</body>

</html>
