<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANABA - Main Page</title>
</head>

<body>
    <section id="home" class="hero is-fullheight">
        <%= require('html-loader!../partials/navbar_other.html') %>

        <div class="hero-body">
            <div class="container">
                <figure class="image center">
                    <%= require('html-loader!../assets/manaba-white-tight.svg') %>
                </figure>
            </div>
        </div>
        <a href="#about-us" id="arrow-down" class="icon center arrow-bounce smooth-scroll">
            <i class="fas fa-chevron-circle-down fa-2x"></i>
        </a>
    </section>

    <%= require('html-loader!../partials/footer.html') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</body>

</html>
