<footer class="footer">
    <nav class="level p-t-md p-b-md p-l-xl p-r-xl">
        <div class="level-left">
            <div class="level-item">
                <p>Handcrafted with <i id="heart-icon" class="fa fa-heart" aria-hidden="true"></i> by Eric Jae-min Joo</p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <p>All Rights Reserved by <span style='color: #feb80f'>MANABA</span> &copy; 2018.</p>
            </div>
        </div>
    </nav>
</footer>
