<footer class="footer">
    <div class="content has-text-centered p-t-sm p-b-sm">
        <p>
            Handcrafted with <i id="heart-icon" class="fa fa-heart" aria-hidden="true"></i> by <a id="linkedin" href="https://www.linkedin.com/in/ericjaeminjoo/">Eric Jae-min Joo</a>.
            Copyright &copy; <script>document.write(new Date().getFullYear());</script> by <span style='color: #feb80f'>MANABA</span>
        </p>
    </div>
</footer>

<script type="text/javascript">
    document.write(new Date().getFullYear());
</script>
