<footer class="footer">
    <div class="columns has-text-centered">
        <div class="column">
            <p>Made with <i id="heart-icon" class="fa fa-heart" aria-hidden="true"></i> by Eric Jae-min Joo</p>
        </div>
        <div class="column">
            <p>Copyrights &copy; 2018. All Rights Reserved by
                <span style='color: #feb80f'>MANABA</span>
            </p>
        </div>
        <div class="column">
            <p>The source code is licensed MIT.</p>
        </div>
    </div>
</footer>
