<nav class="navbar is-transparent is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-menu p-l-md p-r-md">
        <div class="navbar-start">
            <a class="navbar-item">
                MANABA
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-end">
            <a href="#home" class="navbar-item smooth-scroll">
                <strong>Home</strong>
            </a>
            <a href="#about-us" class="navbar-item smooth-scroll">
                About Us
            </a>
            <a class="navbar-item smooth-scroll">
                Events
            </a>
            <a class="navbar-item smooth-scroll">
                Sponsors
            </a>
            <a class="navbar-item smooth-scroll">
                FAQ
            </a>
            <a class="navbar-item smooth-scroll">
                Contact Us
            </a>
        </div>
    </div>
</nav>
