<nav class="navbar is-dark is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-menu p-l-md p-r-md p-t-sm p-b-sm">
        <div class="navbar-start">
            <a class="navbar-item">
                <strong>MANABA</strong>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-end">
            <a href="index.html" class="navbar-item">
                <strong>Home</strong>
            </a>
            <a href="events.html" class="navbar-item">
                Events
            </a>
            <a href="team.html" class="navbar-item">
                Team
            </a>
            <a href="sponsors.html" class="navbar-item">
                Sponsors
            </a>
            <a href="contact.html" class="navbar-item">
                Contact Us
            </a>
        </div>
    </div>
</nav>
